<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configProtectedData>
      <providers>
         <add name="RSAProtectedConfigurationProviderChris"
              type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken= b03f5f7f11d50a3a, processorArchitecture=MSIL"
              keyContainerName="myKeyCont"
              useMachineContainer="true" />
      </providers>
   </configProtectedData>
    <connectionStrings configProtectionProvider="RSAProtectedConfigurationProviderChris">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>DX8pbAkALBkR4OUcuxqHfqqdbnxhsVwrJz4gy8rBMow8s21DpKrfBS68JJ4PyIdgnSTIwGyaU9hMs8VifmH0xawEREoTL1ea8H+lw4/iwGoRo6wCFhwyw2hv10BRKMZj8gpI+IdI5SJAxV2q8WZ4/lYoFHNDSt+1MI+gvBcHh+k=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>lSJwdDc5siD0qAqmcxUwFh5b6Wx1Lqdmrawf0oAAEiXPsXfXkiE9NA9ViWYksd76H6gOP9JcH/UY4BXJjJY57X6T9dwITGAmgmix7OAs9dYBzXLRkV9EhNZB/Vt6rVrQUxhpMl0RvOWtUyWctrBMPHuucmCN6OEKB+YSH0oX+wgvQ81hwB6goU/oLDwxSRhI8GVM7bICkYiJqbUGGmlMsHJVA7iLTy//i9yfZMOVN1kVl8Q8nPxnvQ24u1QcKkA73wZ0SZp4SKZNqc4amRs/C+V8TZdMoXTrDqrWOnPXPfNvbryc8qr+GaNV3fIPSiT4aQlNUFM5vDY4CYOZIrWuOG4k3zBFecGsVQkYE2ujyJT43MbFN0jgHxVFJF5olqnkP16akt0WZdvJhbkLKCqJ9pRiPVqYkwZU</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>
