<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>eI/EV284ZVnJQMQbHSbHTkfMI5k/lirOG6if0m5wkTvoUJuV3Zmc9s/uh/IvEYZXZAXy4wcrm1930Kmd1HVjaOOHYL5RYWP8OLYrzVH4fhTUdjmaHL4ck6iwu0OdOkAxhivOSXmY+8hDBP7HMJDEpVdvZriLXELOTXZQgtuUYZk=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>MMkLsOS8H/uAvmbHzv2BrE/hJZxj/1kFQcRE2DcO8/ZCjYmk9BnRPti9z9/9mufM5HUQ1rR6YVXn3dkcqjlEBmwH7HeHc4VhU15LU05ZIcbjpUm5bCFoRhU49qoc/a+obIk2BYFrKtpCme+0I8p+608Oruno6aKuOMCbWz+fd5ltiVUi6v6tItp/9a4t/iWxRoNt20T0gN5K0EMRKs9+ZN6vxzud19BW2ikft8PlJME=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>