<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configProtectedData>
      <providers>
         <add name="RSAProtectedConfigurationProviderChris"
              type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken= b03f5f7f11d50a3a, processorArchitecture=MSIL"
              keyContainerName="myKeyCont"
              useMachineContainer="true" />
      </providers>
   </configProtectedData>
   
   <appSettings configProtectionProvider="RSAProtectedConfigurationProviderChris">
      <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
         xmlns="http://www.w3.org/2001/04/xmlenc#">
         <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
         <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
               <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
               <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                  <KeyName>Rsa Key</KeyName>
               </KeyInfo>
               <CipherData>
                  <CipherValue>nS5nEVgdz+z/BL5zd2cgI5fRmR/heTA8cy37AGaAc2ZzRkc78mmISPfj1e7YRCH7hsreeOw0j4Z0PnWPn6W2DfmvEdAZUdHoC6mdU20BPXh0hOJK8vah3jlq3MygcoNPGePT/meJPign+nH1J5HmxjwrqKfkguOoAGA1EdV18RU=</CipherValue>
               </CipherData>
            </EncryptedKey>
         </KeyInfo>
         <CipherData>
            <CipherValue>sBisBw8nKagbOvVYwCFQdB3PvxH+zis1mZZzMs8f8+UvDN8ScmMKiWz3U2pi7z2h/9HUKi7GS8a0SNJJ3HPQRSy07TQdPnftOChIfEYV4h1P16St0LmNdDtkakNE8h76/EYm2FMwy7c3r3kV6/jqOg==</CipherValue>
         </CipherData>
      </EncryptedData>
   </appSettings>
</configuration>
